mixin nav(path)
  .nav#topnav
    nav
      span.links
        a.icon(href='javascript:void(0);' onclick='navDropDown()') ☰
        .link-area
          a(href=path + '/') Home
          span.nomobile |
          a(href=path + '/services/') Services
          span.nomobile |
          a(href=path + '/build-team/') Build Team
          span.nomobile |
          a(href=path + '/our-team/') Our Team
          span.nomobile |
          a(href=path + '/contact/') Contact
      
mixin meta(path)
  link(rel='stylesheet' type='text/css' href=path+'/css/styles.css')
  include meta.pug

mixin progress(number, max)
  div
    span(style="text-align: center") #{number} / #{max}
    .progress
      .progress-inner(style="width: " + 100*number/max + "%;")
        // :)

mixin build-icons(name)
  div(class='build-icons')
    span
      +build-icon('design', (name != 'design'))
      +build-icon('photo', (name != 'photo'))
      +build-icon('social', (name != 'social'))
      +build-icon('video', (name != 'video'))
      +build-icon('web', (name != 'web'))
      +build-icon('consultation', (name != 'consultation'))

mixin build-icon(name, blurred)
  if (blurred)
    div(class='square-card-service-sm' style='background-image: URL(\'../../media/icons/' + name + '-icon.png\'); background-position: center; filter: blur(3px);')
  else
    div(class='square-card-service-sm' style='background-image: URL(\'../../media/icons/' + name + '-icon.png\'); background-position: center; filter: none;')

mixin square-card-link(name, icon, _href)
  a(href=_href)
    .square-card-service(style='background-image: url(\"../media/icons/' + icon + '\");')

mixin footer(path)
  footer
    .footer
      .social
        a(href='')
          img(src=path+'/media/icons/facebook.png')
        a(href='')
          img(src=path+'/media/icons/twitter.png')
        a(href='')
          img(src=path+'/media/icons/instagram.png')
      br
      br
      .link-area
        a(href=path + '/our-work/') Our Work
        span |
        a(href=path + '/our-team/') Our Team
        span |
        a(href=path + '/careers/') Careers
        
      .social
        p Ⓒ Current Media 2020
