mixin nav(path)
  .nav#topnav
    nav
      span.links
        a.icon(href='javascript:void(0);' onclick='navDropDown()') ☰
        .link-area
          a(href=path + '/') Home
          //- span.nomobile |
          a(href=path + '/services/') Services
          //- span.nomobile |
          a(href=path + '/build-team/') Build Team
          //- span.nomobile |
          a(href=path + '/our-team/') Our Team
          //- span.nomobile |
          a(href=path + '/contact/') Contact

mixin logo(path)
  img.logo(src=path + '/media/images/current-word-logo-cropped.png')
      
mixin meta(path)
  link(rel='stylesheet' type='text/css' href=path+'/css/styles.css')
  include meta.pug

mixin progress(number, max)
  div
    span(style="text-align: center") #{number} / #{max}
    .progress
      .progress-inner(style="width: calc(" + 100*number/max + "% - 10px);")
        // :)

mixin square-card-link(name, icon, _href, displayname="")
  button.square-card-service(onclick="selectService('" + name + "','" + _href + "')" style='background-color: white; background-image: url(\"../media/icons/' + icon + '\");' data-service-type=name)
    .label #{displayname}
    //- div( data-service-type=name)

mixin square-card-link-sm(name, icon, _href, displayname="")
  button.square-card-service-sm(onclick="selectService('" + name + "','" + _href + "')" style='background-color: white; background-image: url(\"../../media/icons/' + icon + '\");' data-service-type=name)
    .label #{displayname}
    //- .square-card-service-sm(style='background-image: url(\"/media/icons/' + icon + '\");' data-service-type=name)

mixin footer(path)
  footer
    .footer
      .social
        a(href='')
          img(src=path+'/media/icons/facebook.png')
        a(href='')
          img(src=path+'/media/icons/twitter.png')
        a(href='')
          img(src=path+'/media/icons/instagram.png')
      br
      br
      .link-area
        a(href=path + '/our-work/') Our Work
        span |
        a(href=path + '/our-team/') Our Team
        span |
        a(href=path + '/careers/') Careers
        
      .social
        p Ⓒ Current Media 2020
