mixin nav(path)
  .nav#topnav
    nav
      span.home
        a(href=path + '/') 
          img(src=path + '/media/images/current-word-logo-cropped.png' height='32px')
      span.links
        a.icon(href='javascript:void(0);' onclick='navDropDown()') ☰
        .link-area
          a(href=path + '/about/') About
          .dropdown
            button(class='dropbtn') Services ▼
            .dropdown-content
              a(href=path + '/services/video-production.html') Video Production
              a(href=path + '/services/photography.html') Photography
              a(href=path + '/services/graphic-design.html') Graphic Design
              a(href=path + '/services/web-design.html') Web Design
              a(href=path + '/services/business-consulting.html') Business Consulting &amp; Social Strategy
          a(href=path + '/contact/') Contact
          a(href='tel:519-555-0100') (519) 555-0100
      
mixin meta(path)
  link(rel='stylesheet' type='text/css' href=path+'/css/styles.css')
  include meta.pug

mixin footer(path)
  footer
    .footer
      .social
        a(href='')
          img(src=path+'/media/icons/facebook.png')
        a(href='')
          img(src=path+'/media/icons/twitter.png')
        a(href='')
          img(src=path+'/media/icons/instagram.png')
      
      .social
        a(href=path + '/our-work/') Our Work
        a(href=path + '/our-team/') Our Team
        a(href=path + '/careers/') Careers
        
      .social
        p Ⓒ Current Media 2020
